---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>
<p><em>{format(post.data.pubDate, 'PPP')}</em></p>
<Content />
