---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<h1>Blog Posts</h1>
<ul>
  {posts.map((post) => (
    <li>
      <strong>slug:</strong> {post.slug}<br />
      <strong>title:</strong> {post.data.title}<br />
      <a href={`/blog/${post.slug}`}>Visit</a>
    </li>
  ))}
</ul>
