---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';

const allPosts = await getCollection('blog');
const sorted = allPosts.sort((a, b) => b.data.pubDate - a.data.pubDate);

const url = new URL(Astro.request.url);
const slug = url.searchParams.get('slug');
const selected = sorted.find(p => p.slug === slug) ?? sorted[0];

const { Content } = await selected.render();
---

<h1>{selected.data.title}</h1>
<p><em>{format(selected.data.pubDate, 'PPP')}</em></p>
<Content />

<hr />

<h2>Blog History</h2>
<ul>
  {sorted.map((p) => (
    <li>
      <a href={`/blog/${p.slug}`}>
        {p.data.title}
      </a>
    </li>
  ))}
</ul>

