<!-- src/pages/db-preview.astro -->
---
const title = "Live DB View from Notion";
---

<html lang="en">
  <head><title>{title}</title></head>
  <body style="margin:0;">
    <iframe
      src="https://www.notion.so/21f96c12b31f80148e68e27aa33a49eb?v=21f96c12b31f809882bb000c00de9020&source=copy_link"
      style="width: 100%; height: 100vh; border: none;"
    ></iframe>
  </body>
</html>
